@using PersianProcess.NCS.Model
@using System.Data.Entity
@model DbSet<FibonacciNumber>

<ul class="list-inline">
    <li class="">Odds</li>
    @foreach (var item in Model) {
      <li class="">@item.Number</li>
    }
</ul>