@{
    ViewBag.Title = "Index";
}

<link href="Content/hCard.css" rel="stylesheet" />
<br />
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-6">
            <h1>hCard Builder</h1>
            <div class="page-header col-md-12">
                <h5 class="Gray">PERSONAL DETAILS</h5>
            </div>
            <div class="form-group col-md-6">
                <label for="givenName">GIVEN NAME</label>
                <input type="text" class="form-control" id="givenName">
            </div>
            <div class="form-group col-md-6">
                <label for="surName">SURNAME</label>
                <input type="text" class="form-control" id="surName">
            </div>
            <div class="form-group col-md-6">
                <label for="email">EMAIL</label>
                <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group col-md-6">
                <label for="phone">PHONE</label>
                <input type="text" class="form-control" id="phone">
            </div>
            <div class="page-header col-md-12">
                <h5 class="Gray">ADDRESS</h5>
            </div>
            <div class="form-group col-md-6">
                <label for="houseName">HOUSE NAME OR #</label>
                <input type="text" class="form-control" id="houseName">
            </div>
            <div class="form-group col-md-6">
                <label for="street">STREET</label>
                <input type="text" class="form-control" id="street">
            </div>
            <div class="form-group col-md-6">
                <label for="suburb">SUBURB</label>
                <input type="text" class="form-control" id="suburb">
            </div>
            <div class="form-group col-md-6">
                <label for="state">STATE</label>
                <input type="text" class="form-control" id="state">
            </div>
            <div class="form-group col-md-6">
                <label for="postCode">POSTCODE</label>
                <input type="text" class="form-control" id="postCode">
            </div>
            <div class="form-group col-md-6">
                <label for="country">COUNTRY</label>
                <input type="text" class="form-control" id="country">
            </div>
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary">Create hCard</button>
            </div>
        </div>
        <div class="jumbotron col-md-6">
            <h5 style="text-align: right;">HCARD PREVIEW</h5>
            <div class="panel panel-primary">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="page-header col-md-12">
                        <h5>EMAIL</h5>
                    </div>
                    <div class="page-header col-md-12">
                        <h5>PHONE</h5>
                    </div>
                    <div class="page-header col-md-12">
                        <h5>ADDRESS</h5>
                    </div>
                    <div class="page-header col-md-12">
                        <h5></h5>
                    </div>
                    <div class="page-header col-md-6">
                        <h5>POSTCODE</h5>
                    </div>
                    <div class="page-header col-md-6">
                        <h5>COUNTRY</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
